version: '3.8'
services:
  app:
    image: achrefdo/springbootapp:latest
    container_name: springbootapp
    ports:
      - "8000:8000"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/catalogue5DNI2
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=
    depends_on:
      - db

  db:
    container_name: db
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=catalogue5DNI2
      - MYSQL_ROOT_PASSWORD=
